body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

a {
  color: #00B7FF;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
  background: #E1F5FE;
    color: #333;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}
#sidebar .sidebar-header {
   padding: 5px;
    background: #E1F5FE;
}

#sidebar ul.components {
    padding: 0px ;
 
}

#sidebar ul p {
    color: #333;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #333;
    background: #B3E5FC;
 
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}